<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
		id="org.pushandplay.cordova.apprate"
		version="0.0.5">
	<name>AppRate</name>
	<description>Cordova AppRate Plugin</description>
	<author>pushandplay</author>
	<license>The MIT License</license>
	<keywords>cordova,phonegap,App Rate,rate</keywords>

	<engines>
		<engine name="cordova" version="<=3.0.0" />
	</engines>

	<!--<dependency id="org.apache.cordova.core.dialogs"
				url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-dialogs.git"/>
	<dependency id="org.apache.cordova.globalization"
				url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-globalization.git"/>
	<dependency id="org.apache.cordova.core.inappbrowser"
				url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git"/>-->

	<js-module src="www/AppRate.js" name="AppRate">
		<clobbers target="navigator.apprate"/>
	</js-module>

	<js-module src="www/preferences.js" name="preferences">
		<runs target="AppRatePreferences"/>
	</js-module>

	<js-module src="www/locales.js" name="locales">
		<runs target="AppRateLocales"/>
	</js-module>

	<!-- android -->
	<platform name="android">
		<!-- android-specific elements -->
	</platform>

	<!-- ios -->
	<platform name="ios">
		<!-- ios-specific elements -->
	</platform>

	<!-- bb10 -->
	<platform name="bb10">
		<!-- bb10-specific elements -->
	</platform>

</plugin>
