<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
		id="org.pushandplay.cordova.apprate"
		version="0.0.11">
	<name>AppRate</name>
	<description>This plugin provide the rate this app functionality into your Cordova/Phonegap application</description>
	<author>pushandplay</author>
	<keywords>cordova,phonegap,App Rate,rate</keywords>
	<license>The MIT License</license>
	<info>Cross-platform AppRate plugin for Cordova / PhoneGap</info>
	<repo>https://github.com/pushandplay/cordova-plugin-apprate.git</repo>
	<issue>https://github.com/pushandplay/cordova-plugin-apprate/issues</issue>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<dependency id="org.apache.cordova.dialogs"/>
	<dependency id="org.apache.cordova.globalization"/>
	<!--<dependency id="org.apache.cordova.core.inappbrowser""/>-->

	<js-module src="www/AppRate.js" name="AppRate">
		<clobbers target="navigator.apprate"/>
	</js-module>

	<js-module src="www/preferences.js" name="preferences">
		<runs target="AppRatePreferences"/>
	</js-module>

	<js-module src="www/locales.js" name="locales">
		<runs target="AppRateLocales"/>
	</js-module>

	<!-- android -->
	<platform name="android">
		<!-- android-specific elements -->
	</platform>

	<!-- ios -->
	<platform name="ios">
		<!-- ios-specific elements -->
	</platform>

	<!-- bb10 -->
	<platform name="bb10">
		<!-- bb10-specific elements -->
	</platform>

</plugin>
